run = "npm run dev"
entrypoint = "src/App.jsx"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3001
externalPort = 5173

[[ports]]
localPort = 3099
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 5002
externalPort = 3002

[[ports]]
localPort = 5003
externalPort = 4200

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000

[agent]
expertMode = true
integrations = ["resend:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start API server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Start API server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/index.js"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
GMAIL_USER = "edsindustries1@gmail.com"
GMAIL_APP_PASSWORD = "ulwqsdzlropnenul"
